{% extends 'planogrs/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}


<div class="container py-5">

  {% if validlink %}
  <h4 class="border-bottom">
    Redefinição de senha
  </h4>
  <p class="lead">
    Por favor, informe sua nova senha duas vezes para que possamos verificar que você digitou corretamente.
  </p>
  <!-- <p class="text-muted">* Preencha todos os campos obrigatórios.</p> -->

  <div class="row">
    <div class="col-md">

      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">
          <i class="fa fa-check" aria-hidden="true"></i>
          Alterar senha
        </button>
      </form>

    </div>
  </div>

  {% else %}
  <meta http-equiv="refresh" content="5; url={% url 'index-auth' %}">

  <div class="text-center">

    <h4 class="text-warning">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Link inválido
    </h4>

    <img src="{% static 'img/loading.gif' %}" alt="" class="img-fluid">

    <h5 class="text-dark">
      Redirecionando para a página inicial em 5 segundos...
    </h5>
  </div>
  {% endif %}


</div>
{% endblock %}