{% extends 'planogrs/base.html' %}

{% load static %}

{% block conteudo %}
<div class="container py-5">

  <h2 class="border-bottom">
    Pronto...
  </h2>

  <div class="row">
    <div class="col-md">

      <p class="lead">
        Se existir uma conta com o email que você forneceu, nós enviaremos
        as instruções para redefinição de sua senha e você receberá a
        mensagem em breve.
      </p>
      <p class="lead">
        Se você não receber um email:
        <ul class="lead">
          <li>verifique se você digitou o endereço correto;</li>
          <li>verifique sua caixa de spam.</li>
        </ul>
      </p>
      <br>
      <p>
        <a href="{% url 'login' %}" class="btn btn-primary">
          <i class="fa fa-sign-in" aria-hidden></i>
          Entrar
        </a>
      </p>

    </div>
  </div>
</div>
{% endblock %}