{% extends 'planogrs/base.html' %}

{% load static %}

{% block conteudo %}
<div class="container py-5">

  <div class="text-center">
    <meta http-equiv="refresh" content="6; url={% url 'login' %}">


    <h4 class="text-success">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Sua senha foi atualizada. Você pode prosseguir e se autenticar agora.
    </h4>

    <img src="{% static 'img/loading.gif' %}" alt="" class="img-fluid">

    <h5 class="text-dark">
      Redirecionando para a página de login em 6 segundos...
    </h5>
  </div>

</div>
{% endblock %}